body {
	background: #fff;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 100%;
}

header{
	width: 100%;
	position: fixed;
	background: #fff;
	z-index: 100;
	top: 0;
}

.header{
	max-width: 1280px;
	margin: 0 auto;
	height: 80px;
}

.header #dl-menu {
	display: none;
}

.header img {
	width: auto;
	height: 40px;
	padding: 20px 15px;
	float: left;
}

.header .subMenu {
	float: right;
	height: 80px;
	margin-right: 15px;
}

.header .subMenu li {
	float: left;
}

.header .subMenu li a {
	padding: 0px 15px;
	line-height: 80px;
	display: block;
	color: #999;
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	font-size: 16px;
}

.header .subMenu li .menu-blue:hover, .menu-blue1:hover {
	color: #00868C;
}

.header .subMenu li .menu-red:hover, .menu-red1:hover {
	color: #CC1D1C;
}

.header .subMenu li .menu-yellow:hover, .menu-yellow1:hover {
	color: #EA7A00;
}

.header .subMenu li .menu-green:hover, .menu-green1:hover {
	color: #16A96A;
}

section {
	width: 100%;
	background: #fff;
}

footer {
	width: 100%;
	background: url(../images/bg-footer.png) #CC1D1C;
	min-height: 340px;
}

.section-header {
	height: 240px;
	position: relative;
	z-index: 95;
}

#solucoes, #contato {
	background: url(../images/bg-footer.png) bottom repeat-x #00868C;
}

#cases {
	background: url(../images/bg-footer.png) bottom repeat-x #CC1D1C;
}

#clientes {
	background: url(../images/bg-footer.png) bottom repeat-x #EA7A00;
}

#trabalheConosco {
	background: url(../images/bg-footer.png) bottom repeat-x #16A96A;
}

.section-header h1 {
	color: #fff;
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	font-size: 64px;
	text-align: center;
	padding: 58px 0 30px 0;
}

.section-header h2 {
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.boxGroup, .boxGroup-footer {
	padding: 40px 0px;
	max-width: 1280px;
	margin: 0 auto;
	background: #fff;
}

.boxGroup-footer {
	background: none;
	position: relative;
	height: 220px;
}

#home {
	width: 100%;
	min-height: 800px;
	background: url(../images/pattern-home.jpg);
}

.home-center {
	background: url(../images/home-center-bg.png) no-repeat center;
	height: 800px;
	padding: 0px;
	width: 100%;
	max-width: 1200px;
	background-position-x: 0px !important;
	position: relative;
}

.home-center .home-ipad {
	width: 440px;
	height: 625px;
	background: url(../images/home-ipad-bg.png) no-repeat center;
	margin: 0 auto;
	position: absolute;
	top: 260px;
	left: 50%;
	margin-left: -220px;
	z-index: 90;
}

.home-center .home-ipad .home-text {
	width: 380px;
	height: 310px;
	margin-left: 30px;
	margin-top: 230px;
}

.home-center .home-ipad .home-text .flexslider {
	margin: 0 auto;
	width: 300px;
}

.home-center .home-ipad .home-text .flexslider ul li {
	margin-top: 40px;
}

.box-solucoes {
	width: 50%;
	float: left;
}

.box-solucoes h3{
	font-family: "Roboto Condensed";
	font-size: 18px;
	text-align: center;
	padding: 20px;
}

.box-solucoes p{
	font-size: 14px;
	text-align: center;
	padding: 0px 20px;
	line-height: 22px;
}

.box-solucoes .box-imagem-solucoes{
	max-width: 370px;
	max-height: 270px;
	margin: 0 auto;
	padding: 0 20px;
}

.box-solucoes .box-imagem-solucoes img {
	width: 100%;
	height: auto;
}

.margin {
	width: 100%;
	height: 40px;
	display: block;
	clear: both;
}

.box-clientes {
	margin: 0 auto;
}

.box-clientes a{
	position: relative;
	width: 30%;
	height: 220px;
	margin: 1.5%;
	display: inline-block;	
	z-index: 1;
}

.box-clientes a img {
	margin: 0 auto;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.box-trabalheConosco {
	width: 30%;
	display: inline-block;
	margin: 1.5%;
	font-size: 14px;
	margin-top: 0px;
	vertical-align: top;
}

.box-trabalheConosco h3 {
	color: #199F66;
	font-size: 22px;
	font-family: "Roboto Condensed";
	padding-bottom: 30px;
	border-bottom: 1px solid #bbb;
}

.box-trabalheConosco article {
	margin-top: 20px;
}

.box-trabalheConosco article ul li{
	line-height: 22px;
}

.box-trabalheConosco article h4, .box-trabalheConosco article strong {
	color: #999;
	font-weight: bold;
	line-height: 22px
}

.box-contato{
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
}

input[type="text"], input[type="email"], textarea {
	background: #eaeaea;
	border: none;
	height: 50px;
	padding: 0 15px;
	box-sizing: border-box;
	font-family: "Roboto";
	font-size: 14px;
	color: #999;
}

.box-contato .input-nome, .box-contato .input-email {
	width: 48%;
	display: inline-block;
	margin-bottom: 30px;
}

.box-contato .input-nome{
	margin-right: 3.48%;
}

.box-contato .input-assunto {
	width: 100%;
	margin-bottom: 30px;
}

.box-contato textarea {
	width: 100%;
	height: 150px;
	resize: none;
	padding-top: 15px;
	margin-bottom: 30px;
	line-height: 22px;
}

.box-contato .input-enviar {
	background:#00868C;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	height: 50px;
	width: 170px;
	cursor: pointer;
	margin-right: 0px;
	float: right;
}

.box-contato .input-enviar:hover {
	background: #005559;
}

.boxGroup-footer h4 {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto Condensed';
	padding-bottom: 18px;
}

.boxGroup-footer .info-footer ul li  {
	font-size: 14px;
	color: #fff;
	line-height: 22px;
}

.boxGroup-footer .info-footer ul li strong {
	font-weight: bold;
}

.boxGroup-footer .social-footer {
	float: right;
}

.boxGroup-footer .social-footer ul li {
	float: left;
	margin-right: 20px;
}

.boxGroup-footer .social-footer ul .no-margin{
	margin-right: 0px;
}

.boxGroup-footer address {
	font-size: 14px;
	color: #fff;
	position: absolute;
	bottom: 0;
}

@media only screen and (min-width: 800px) and (max-width: 1023px) and (orientation: portrait) {

	#home {
		width: 100%;
		min-height: 640px;
		background: url(../images/pattern-home.jpg);
	}

	.home-center {
		/*background: url(../images/home-center-bg-tablet.png) no-repeat center;*/
		max-width: 800px;
		height: 640px;
		background-position-x: 0px !important;
		position: relative;
	}

	.home-center .home-ipad {
		top: 100px;
	}

	.section-header {
		height: 200px;
	}

	.section-header h1 {
		padding:40px 0 30px 0;
	}

	.box-trabalheConosco {
		width: 47.5%;
		margin: 1%;
		margin-bottom: 40px;
	}

	.boxGroup-footer {
		padding-left: 15px;
		padding-right: 15px;
	}

	.owl-theme .owl-controls .owl-buttons{
		display: none !important;
	}

	#owl-demo {
	    padding: 0 20px;
	    box-sizing: border-box;
	}
}

/*
@media only screen and (max-width: 799px) {
	.header .subMenu {
		display: none;
	}

	.header #dl-menu {
		display: block;
	}

	#home {
		width: 100%;
		min-height: 400px;
		background: url(../images/pattern-home.jpg);
	}

	.home-center {
		background: inherit;
		max-width: 100%;
		height: 480px;
		position: relative;
	}

	.home-center .home-ipad {
		width: 400px;
		height: 360px;
		background: inherit;
		background: url(../images/home-iphone-bg.png)center no-repeat;
		top: 120px;
		margin-left: -200px;
	}

	.home-center .home-ipad .home-text {
		display: none;
	}

	.section-header {
		height: 160px;
	}

	.section-header h1 {
		font-size: 50px;
	}

	.section-header h1 {
		padding:28px 0 30px 0;
	}

	.box-solucoes {
		width: 90%;
		float: left;
		margin:0 5%;
		margin-bottom: 40px;
	}

	.margin {
		display: none;
	}

	.box-clientes a{
		width: 47.5%;
		margin: 1%;
	}

	.box-trabalheConosco {
		width: 90%;
		margin: 0 5%;
		margin-bottom: 40px;
	}

	.box-contato{
		width: 90%;
		max-width: inherit;
		margin: 0 5%;
	}

	input[type="text"], input[type="email"], textarea {
		background: #eaeaea;
		border: none;
		height: 50px;
		padding: 0 15px;
		box-sizing: border-box;
		font-family: "Roboto";
		font-size: 14px;
		color: #999;
	}

	.box-contato .input-nome, .box-contato .input-email {
		width: 100%;
		display: inherit;
		margin-bottom: 20px;
	}

	.box-contato .input-assunto {
		margin-bottom: 20px;
	}

	.box-contato textarea {
		margin-bottom: 20px;
	}

	.boxGroup-footer .social-footer {
		float: none;
		margin-bottom: 30px;
	}

	.boxGroup-footer .info-footer {
		clear: both;
		margin-bottom: 30px;
	}

	.boxGroup-footer {
		padding-left: 15px;
		padding-right: 15px;
		height: auto;
	}

	.boxGroup-footer address {
		position: inherit;
		line-height: 22px;
	}

	.owl-theme .owl-controls .owl-buttons{
		display: none !important;
	}

	#owl-demo {
	    padding: 0 20px;
	    box-sizing: border-box;
	}
}
*/
@media only screnn and (orientation: landscape){
	.dl-menuwrapper {
		width: 100%;
		max-width: inherit;
		float: right;
		position: absolute;
	}

	.dl-menuwrapper li {
		position: relative;
		float: left;
		width: 16.66%
	}

	.dl-menuwrapper li a {
		display: inline-block;
		vertical-align: middle;
		padding: 0px;
		font-size: 14px;
		line-height: normal;
		width: 100%;
	}

	.owl-theme .owl-controls .owl-buttons{
		display: none !important;
	}

	#owl-demo {
	    padding: 0 20px;
	    box-sizing: border-box;
	}
}