.dl-menuwrapper {
	width: 100%;
	max-width: 190px;
	float: right;
	position: relative;
}

.dl-menuwrapper button {
	background: #000;
	border: none;
	width: 48px;
	height: 48px;
	text-indent: -900em;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
	outline: none;
	right:0px;
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 5px;
	background: #999;
	top: 10px;
	left: 16%;
	box-shadow: 
		0 10px 0 #999, 
		0 20px 0 #999;
}

.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 0px 20px;
	font-size: 16px;
	line-height: 60px !important;
	font-weight: 300;
	color: #999;
	outline: none;
	background: #fff;
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	width: 160px;
	height: 60px;
	text-align: center;
}

.no-touch .dl-menuwrapper li a:hover {
	/*background: rgba(255,248,213,0.1);*/
}

.dl-menuwrapper li.dl-back > a {
	padding-left: 30px;
	/*background: rgba(0,0,0,0.1);*/
}

.dl-menuwrapper li > a:after {
	right: 10px;
	/*color: rgba(0,0,0,0.15);*/
}

.dl-menuwrapper .dl-menu {
	margin: 24px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.dl-menuwrapper button {
	background: #fff;
}

#dl-menu {
	display: block;
	margin-top: 16px;
	margin-right: 20px;
}

.dl-menu {
	background: #fff;
	height: auto;
	position: absolute !important;
	top: 40px !important;
}