/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}



.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	zoom: 1;
	font-size: 12px;
	background: transparent;
	position: absolute;
	border-top: 26px solid transparent;
	border-bottom: 26px solid transparent;	
	text-indent: -9999px;
	margin-top: -26px;
	width: 0; 
	height: 0; 
	top: 0;
	left: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
	top: 50%;
	border-right:26px solid #ccc; 
}

.owl-theme .owl-controls .owl-buttons .owl-next {
	top: 50%;
	right: 0;
	left: inherit;
	border-left: 30px solid #ccc;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background: #CC1D1C;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo {
      width: 100%;
      max-width: 770px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .imgBox-cases {
      width: 100%;
      max-width: 590px;
      margin: 0 auto;
    }

    .imgBox-cases img {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .info-cases {
      width: 100%;
      max-width: 630px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Roboto';
      font-size: 14px;
      margin-bottom: 20px;
    }

    .info-cases h3 {
      font-family: 'Roboto Condensed';
      text-transform: uppercase;
      font-size: 18px;
      padding: 20px 0px;
    }

    .info-cases p {
      line-height: 22px;
    }

    .storeLinks-cases {
      width: 100%;
      max-width: 630px;
      margin: 0 auto;
    }

    .storeLinks-cases a {
      width: 30%;
      margin: 1.45%;
      float: left;
    }

    .storeLinks-cases a img {
    	width: 100%;
    	height: auto;
    }
